@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
/* start basic rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s ease-in-out;
    text-transform: capitalize;
    font-family: "Kalam", sans-serif;
}
:root {
    --primary-clr: #F80B6F;
    --secondary-clr: #D162FB;
    --white-clr: #ffffff;
    --text-clr: #999999;
}
::selection {
    background-color: var(--primary-clr);
    color: var(--white-clr);
}
/* end basic rules */