@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
/* start basic rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s ease-in-out;
    text-transform: capitalize;
    font-family: "Kalam", sans-serif;
}
:root {
    --primary-clr: #0098a1;
    --secondary-clr: #333333;
    --white-clr: #ffffff;
    --text-clr: #aaaaaa;
}
::selection {
    background-color: var(--primary-clr);
    color: var(--white-clr);
}
body {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
p {
    color: var(--secondary-clr);
    font-weight: 300;
}
img {
    max-width: 100%;
    height: auto;
}
.heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--secondary-clr);
    margin-bottom: 2rem;
}
@media screen and (max-width: 576px) {
    .heading {
        font-size: 2rem;
    }
}
.heading span {
    color: var(--primary-clr);
}
.btn {
    display: inline-block;
    padding: .25rem 1.25rem .15rem;
    background-color: var(--primary-clr);
    border-radius: .35rem;
    border: .125rem solid transparent;
    color: var(--white-clr);
}
.btn:hover {
    background-color: transparent;
    border: .125rem solid var(--primary-clr);
    color: var(--primary-clr);
}
/* end basic rules */
/* header section starts */
.header {
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    width: calc(100% - 2rem);
    padding: 1rem;
    z-index: 9999;
    background-color: var(--white-clr);
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    border-radius: .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-size: 1.75rem;
    line-height: 1;
    color: var(--secondary-clr);
}
.brand span {
    color: var(--primary-clr);
}
#nav-input {
    display: none;
}
.navbar a {
    display: inline-block;
    padding: 0 15px;
    color: var(--secondary-clr);
}
.navbar a:hover {
    color: var(--primary-clr);
}
.nav-btn {
    display: none;
}
@media screen and (max-width: 768px) {
    .navbar {
        position: absolute;
        top: -100rem;
        left: 0;
        width: 100%;
        padding: 1rem;
        z-index: -1;
        background-color: var(--white-clr);
        box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
        border-radius: .3rem;
        opacity: 0;
    }
    #nav-input:checked + .navbar {
        top: calc(100% + 2px);
        opacity: 1;
    }
    .navbar a {
        display: block;
        padding: 1rem;
        text-align: center;
    }
    .nav-btn {
        display: block;
        font-family: "Font Awesome 5 Free";
        font-size: 1.75rem;
        font-weight: 900;
        color: var(--primary-clr);
        cursor: pointer;
    }
    .nav-btn::before {
        content: "\f0c9";
    }
    #nav-input:checked ~ .nav-btn::before {
        content: "\f00d";
    }
}
/* header section ends */
/* home section starts */
.home {
    position: relative;
    min-height: 100vh;
    padding: 10rem 1rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    row-gap: 3rem;
}
.home video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-text,
.home-form {
    flex: 0 0 28rem;
    max-width: 100%;
}
@media screen and (max-width: 991px) {
    .home-text {
        flex: 0 0 100%;
    }
}
.home-text h1 {
    font-size: 4rem;
    line-height: 1.3;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    color: var(--white-clr);
}
@media screen and (max-width: 991px) {
    .home-text h1 {
        font-size: 3rem;
    }
}
@media screen and (max-width: 768px) {
    .home-text h1 {
        font-size: 2rem;
        margin-bottom: .5rem;
    }
}
.home-text p {
    padding-left: 1.5rem;
    border-left: 2px solid #ddd;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    color: var(--white-clr);
}
@media screen and (max-width: 991px) {
    .home-text p {
        border-left: none;
        padding-left: 0;
    }
}
.home-form {
    padding: 1.5rem 1.25rem;
    background-color: var(--white-clr);
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    border-radius: .3rem;
}
.home-form h2 {
    text-align: center;
    margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
    .home-form h2 {
        font-size: 1.25rem;
    }
}
.home-form .input-box {
    margin-bottom: 1rem;
}
.home-form .input-box label {
    display: block;
    margin-bottom: .5rem;
    font-size: 1.25rem;
    color: var(--primary-clr);
}
.home-form .input-box input {
    width: 100%;
    height: 2.5rem;
    padding: 0 15px;
    background-color: #eee;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .3) inset;
    border-radius: .3rem;
}
/* home section ends */
/* featured locations section starts */
.featured-locations {
    padding: 4rem 0;
    background-color: #F9F9F9;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}
.featured-locations .card {
    flex: 0 0 20rem;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    border-radius: .3rem;
}
.featured-locations .card-header {
    position: relative;
    display: flex;
}
.featured-locations .card-img {
    width: 100%;
    height: 13rem;
    object-fit: cover;
}
.featured-locations .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .3rem .5rem;
    border-radius: .25rem;
    background-color: #F93302;
    color: var(--white-clr);
}
.featured-locations .card-body {
    padding: 1.5rem 1.25rem;
    text-align: center;
}
.featured-locations .location-name {
    font-size: 1.75rem;
    color: var(--primary-clr);
    margin-bottom: .5rem;
}
.featured-locations .location-stars {
    margin: 1rem 0;
}
.featured-locations .location-stars li {
    color: #FED700;
}
/* featured locations section ends */
/* about us section starts */
.about-us {
    padding: 4rem 0;
}
.about-us .row {
    gap: 2.5rem 0;
}
.about-img,
.about-text {
    flex: 1 1 20rem;
    max-width: 100%;
}
@media screen and (max-width: 991px) {
    .about-text {
        text-align: center;
    }
}
.about-img {
    height: 65vh;
}
.about-text h3 {
    font-size: 2rem;
    color: var(--primary-clr);
    margin-bottom: 1rem;
}
.about-text p:first-of-type {
    margin-bottom: 1rem;
}
.about-text p:last-of-type {
    margin-bottom: 1.5rem;
}
.about-text .btn:first-of-type {
    background-color: transparent;
    border: .125rem solid var(--primary-clr);
    color: var(--primary-clr);
}
/* about us section ends */
/* gallery section starts */
.gallery {
    padding: 0 0 4rem;
}
.gallery .card {
    flex: 0 0 20rem;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}
.gallery .card-img {
    width: 100%;
    height: 13rem;
    object-fit: cover;
}
.gallery .overlay {
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1.5rem;
    background-image: linear-gradient(transparent, var(--secondary-clr));
}
.gallery .card:hover .overlay {
    top: 0;
}
.gallery .card-icon {
    font-size: 1.5rem;
    color: var(--white-clr);
    margin: 0 15px;
}
.gallery .card-icon:hover {
    color: var(--primary-clr);
}
/* gallery section ends */